lightning-input {
  /* The lightning-input has a label above it that takes 32px of white space in iOS, */
  /* and 24px in Android, so compensate 28px which is the average */
  margin-top: -28px;
}

.no-images-selected-screen {
  height: 100%;
  /* commented for testing margin-top: -5rem; */
}

.text-container {
  margin: 0;
}

.text-container span {
  text-align: center;
  padding: 0 2rem 0 2rem;
}

.square {
  aspect-ratio: 1 / 1;
  /* commented out for testing overflow: hidden; */
  position: relative;
}

.square img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.square .pencil-icon {
  height: 25px;
  aspect-ratio: 1 / 1;
  background-color: #747474;
  display: flex;
  position: absolute;
  top: 20;
  left: 20;
  border-radius: 50%;
}

.square .pencil-icon span {
  margin: auto;
}

.preview-image {
  max-height: 100%;
  max-width: 100%;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.large-icon {
  width: 6rem;
  height: 6rem;
}

.header-content {
  border-bottom: gray 1px solid;
  width: 100%;
}

.footer-content {
  border-top: gray 1px solid;
  width: 100%;
}

.page {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.page .section.header {
  flex: 0 1 auto;
}

.page .section.content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}

.page .section.footer {
  flex: 0 1 auto;
}

.branded-foreground {
  --slds-c-icon-color-foreground: #2A7AB0;
  --slds-c-icon-color-foreground-default: #2A7AB0;
}

.photo-container {
  cursor: pointer;
  color: #2A7AB0; 
  font-size: 14px; 
  font-weight: 600; 
  line-height: 20px; 
  word-wrap: break-word;
  height: 100%; 
  padding-left: 30px; 
  padding-right: 30px; 
  padding-top: 40px; 
  padding-bottom: 40px; 
  background: #D9F2F3; 
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.06); 
  border-radius: 4px; overflow: hidden; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  gap: 10px; 
  /**display: inline-flex**/
}

.photo-container-small{
  cursor: pointer;
  color: #2A7AB0; 
  font-size: 14px;
  font-weight: 600; 
  line-height: 20px; 
  word-wrap: break-word;
  text-align: left;
  width: 100%; 
  height: 100%; 
  gap: 8px; 
  /*display: inline-flex;*/
  --sds-c-icon-color-background: #D9F2F3;
}

.photo-container-small .photo-container-label{
  align-items: center;
  display:inline-flex;
  margin-left: 8px;
}

.image-preview-text{
  margin-bottom:8px;
}

.image-preview-details{
  width:100%;
  text-align: center;
  color: #5D5D5D;
  font-size: 10px;
  font-weight: 400;
  word-wrap: break-word;
  margin-top:8px;
}

.image-action-bar{
  flex-shrink:0
}

.image-photo-preview-container{
  flex-grow: 1;
  overflow-y: auto;
}



.image-preview-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    background: white;
    z-index: 100;
}

.slds-modal__container_custom {
    max-width: 80vw; /* Adjust as needed */
    width: 80vw;
    max-height: 80vh; /* Adjust as needed */
    height: 80vh;
    overflow-y: auto;
    margin: 0;
}

@media screen and (max-width: 480px) {
    .slds-modal__container_custom {
        max-width: 95vw;
        width: 95vw;
        max-height: 95vh;
        height: 95vh;
    }
}

.page-container {
    background: white;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 100%;
    width: 100%;
    gap: 15px 0px;
    z-index: 2000;
}

.phone-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 98%;
    grid-template-areas:
        "header"
        "content"
        "footer";

    grid-template-rows:
        min-content
        1fr
        minmax(min-content, 10vh);
}

.desktop-container {
    grid-template-areas:
        "header"
        "content"
        "footer";

    grid-template-rows:
        min-content
        min-content
        minmax(300px, 700px);
}

.page-header {
    grid-area: header;
}

.phone-header {
}

.desktop-header {
}

.page-body {
    grid-area: content;
    overflow-y: auto;
}

.phone-body {
}

.desktop-body {
}

.page-footer {
    grid-area: footer;
    background: white;
}

.phone-footer {
}

.desktop-footer {
}